@{
    //ViewBag.Title = "Calendar";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<center>
    <p>Calendar</p>
    <iframe src="https://calendar.google.com/calendar/embed?src=9abu118f0uj7rft4lr1bvndmec%40group.calendar.google.com&ctz=Asia%2FKuala_Lumpur" style="border: 0" width="800" height="600" frameborder="0" scrolling="no">Click here to view calendar</iframe>
    <hr />
    <table>
        <tr>
            <th>List of Events</th>
            <th>Book Event</th>
        </tr>
        <tr>
            <td>Event</td>
            <td> <button onclick="addOne()"type="button">I'm in!</button> </td>
            <td>
                <p><span id="thisone">0</span></p>
                <script type="text/javascript">
                    function doit() {

                    }

                    function addOne() {
                        var foo = document.getElementById('thisone').innerHTML = foo;
                        foo++;
                        document.getElementById('thisone').innerHTML = foo;
                    }

                </script>
            </td>
        </tr>
        <tr>
            <td>Event</td>
            <td> <button type="button">I'm in!</button> </td>
        </tr>
    </table>
    </center>

