@{
    //ViewBag.Title = "Calendar";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<center>
    <p>Calendar</p>
    
    <iframe src="https://www.Google.com/calendar/embed?src=<%#

CalId()%>&ctz=Europe%2FMoscow" style="border-style: none; border-color: inherit; border-width: 0; width: 824px;"

height="600" frameborder="0" scrolling="no"></iframe>

</center>

