@{
    //ViewBag.Title = "Calendar";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<center>
    <p>Calendar</p>
    <iframe src="https://calendar.google.com/calendar/embed?src=9abu118f0uj7rft4lr1bvndmec%40group.calendar.google.com&ctz=Asia%2FKuala_Lumpur" style="border: 0" width="800" height="600" frameborder="0" scrolling="no">Click here to view calendar</iframe>
   
</center>

