
@{
    ViewBag.Title = "AboutUs";
}



<center>
    <h3>Sejarah</h3>
    <h4>
        Kolej Kediaman Tun Syed Nasir & Pejabat Tanpa Asrama (KKTSN & PTA) merupakan kediaman pelajar dalam kampus Universiti Tun Hussein Onn Malaysia (UTHM) yang pertama dibina dan dahulunya dikenali sebagai “Desasiswa”.
        Tujuan utama kolej kediaman diwujudkan adalah bagi menyediakan kemudahan asrama kepada para pelajar khususnya yang mengikuti kursus di Kampus Induk UTHM. Dengan kapasiti penuh seramai 616 penghuni dalam suatu masa, KKTSN & PTA menyediakan 2 blok kediaman siswa (426 orang) dan 1 blok kediaman siswi (190 orang) yang cukup selesa kepada penghuninya.
    </h4>
    <br />
    <hr>
    <br />

    <h3>Carta Organisasi</h3>
    <center><img src="https://kolejkediaman.uthm.edu.my/v1/images/TSN/Carta-Organisasi-KKTSN.jpg" width="600" height="600"></center>
  
    <hr>
    <br/>

    <h3>Lokasi Kami</h3>
    <div style="width: 100%">
        <iframe width="1100" height="600" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=1.85661815,103.08656170576945&amp;q=Kolej%20Kediaman%20Tun%20Syed%20Nasir+(Kolej%20Kediaman%20Tun%20Syed%20Nasir)&amp;ie=UTF8&amp;t=k&amp;z=17&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div><br />

</center>